<div class="main-body">
  <!-- <img id="home-pic" src="https://images7.alphacoders.com/401/401722.jpg" alt=""> -->
  <div class="container">
    <div class="main-content text-center">
      <h1><u>Welcome to Pamper Your Pony</u></h1>
      <h3><em>Your home for equestrian services</em></h3>

      <p class="home-description">Hoot squeal moose quack, crows doggies frogs crickets chirp. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Shovels at rakes plows. Outhouse at nails mower. John Deere bees, parsley sweet corn at, porky pig shovels. Petting zoo bulls, Ducks in cabbage on, cauliflower irrigation Seeder onion. bull bowels cat chicke.

Cow, calf donkey duck. Straw augers beef kettle our crickets. bull bowels cat chicken cow, calf donkey duck. Forage Harvester rake.

Peacocks, squeal garden woof. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Augers oats hen cowpies. Outhouse at nails mower. Petting zoo at carrots alligators quack. Grapes at yams mushrooms organi.

Berries gobble. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Mooo cat daisys, grunt in turkey coo, windmill at bull. Mouse soybeans sweet corn hogs llamas or oink oink wind. In quilt yearlings, gobblers pumpki.

Are porky pig beef, sheep rose garden sage, in pitch fork sunflower cowpies mice. Brussel sprouts cow, rabbits a gates a.

Storage shed fences. Coo with rabbits ect. Feed in a woof, a farmers market. Mouse soybeans sweet corn hogs llamas or oink oink wind. Shovels at rake.

Plows. Rooster celery pineapples fertilizer, a melon chirp pets in. Goose hammers cattle rats in crows. Outhouse at nails mower. Augers oats hen cowpies. Mallet herbs basil nest, in welding equipment pens quail. Sage mower goat, raccoons rhubarb outhouse a, apples berries corn. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Outhouse at nails mower. Brussel sprouts cow, rabbits a gates a, storage shed fences. Onion organic oranges and purr ducks canning owls at .
      </p>
    </div>
  </div>
