<nav class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 contact">
        <h4 class="contact-header">Contact</h4>
        <div class="contact-details">
          <a href="mailto:pamperyourponyequine@gmail.com">PamperYourPonyEquine@gmail.com</a>
          <p>(303) 994-0130</p>
        </div>
      </div>
      <div class="col-md-8">
      </div>
      <div class="col-md-1 social-media-div">
        <p class="social-media-name"><b>Twitter</b></p>
        <a href="https://twitter.com/PamperYourPony" target="_blank"><img class="social-media-logo" src="https://cdn4.iconfinder.com/data/icons/bettericons/354/twitter-circle-128.png" alt=""></a>
      </div>
      <div class="col-md-1 social-media-div">
        <p class="social-media-name"><b>Facebook</b></p>
        <a href="https://www.facebook.com/pamperyourpony/" target="_blank"><img class="social-media-logo" src="https://images.seeklogo.net/2016/09/facebook-icon-preview-400x400.png" alt=""></a>
      </div>
    </div>
  </div>
</nav>
